*~
*.swp
*.swo
*.o
*.lo
*.la
*.so
*.so.*
*.a
*.a.*
kage/tags
Makefile
Makefile.in
.deps
.libs
aclocal.m4
autom4te.cache
config.guess
config.log
config.status
config.sub
configure
configure.in
depcomp
install-sh
libtool
ltmain.sh
missing

